@font-face {
    font-family: 'RalewayWF';
    src: url('https://www.w3.org/International/style/fonts/raleway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('https://www.w3.org/International/style/fonts/raleway-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('https://www.w3.org/International/style/fonts/raleway-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }
	

body { 
	font-family: RalewayWF;
	line-height: 1.6;
	padding: 2em 4em; 
	}
h2 { 
	margin-top: 3em;
	}
h3 {
	margin-top: 2em;
	}
#toc ol {
	list-style-type: none;
	line-height: 1.7;
	}
summary {
	font-style: italic;
	cursor: pointer;
	}
dt {
	font-weight: bold;
	}
#versionInfo {
	margin-top: 4em;
	}
h2 a {
    text-decoration: none;
    color: #005a9c;
	}
#toc a {
	text-decoration: none;
	}
.toc1 {
    margin-inline-start: 2em;
    line-height: 1.7;
    }
.toc2 {
    margin-inline-start: 5em;
    font-size: 90%;
    }

/* SELF LINKS */
h2, h3, h4, h5, h6 { position: relative; }
.selflink { display: none; }
h2:hover > a.selflink::before, h3:hover > a.selflink::before, h4:hover > a.selflink::before, h5:hover > a.selflink::before, h6:hover > a.selflink::before {
    content: "ยง";
    display: block;
    }
h2 > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    color: inherit;
    font-size: 83%;
    text-align: center;
    background-color: transparent;
    }
h2:hover > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    border: none;
    color: inherit;
    font-size: 83%;
    height: 2em;
    left: -1.6em;
    opacity: .5;
    position: absolute;
    text-align: start;
    text-decoration: none;
    top: 0;
    transition: opacity .2s;
    width: 2em;
    display: block;
    }

