body { font-family: raleway; line-height: 1.6; } /* remove this after initial devt */
body { padding: 2em 4em; }
h2 { margin-top: 3em; }
h3 { margin-top: 2em; }
summary { font-style: italic; cursor: pointer; }
dt { font-weight: bold; }
#versionInfo { margin-top: 4em; }
